<h1>NG_Template_Example</h1>

<ng-template #templateRef>
  <p>This is NG Template</p>
</ng-template>

<ng-template #notify>
  <button type="button">Notify Me!</button>
</ng-template>

<!--Display element-->
<body class="template-example" *ngTemplateOutlet="templateRef">  
</body>

<button  *ngIf="displayAngularTemplate===true; else notify">Add Product</button>

<div class="ng-container-exmp">
  <ng-container *ngIf="toggle; else toggleOff">
    <p>Toggle On</p>
  </ng-container>

  <ng-template #toggleOff>
    <p>Toggle Off</p>
  </ng-template>

  <button type="button" (click)="onToggle()">Toggle</button>
</div>

<div class="product-card-container">
  <app-product-card>
    <h2 class="title">Angular 14</h2>
    <h5>Best Learning Card</h5>
  </app-product-card>
  <app-product-card>
    <h2 class="title">Angular 15</h2>
  </app-product-card>
  <app-product-card>
    <h2 class="title">Angular 16</h2>
  </app-product-card>
</div>

<div class="ng-content-child-example">
  <app-parent ></app-parent>
</div>
